# -------------------------
# Temporary files
# -------------------------
tmp/
Paper
Old/*.rar
*.tmp
*.log

# -------------------------
# Fortran compiled files
# -------------------------
*.o
*.mod

# Executables
*.exe
sdm2025
sdm2013
dgrn2020

# -------------------------
# C/C++ compiled files
# -------------------------
*.obj
*.so
*.a

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# Editors
# -------------------------
*~
*.swp
*.swo

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db
